<div class="container main-div"  *ngIf='service.loggedIn();'>
  <mat-card class="card text-center">
    <div class="text-center">
        <mat-card-title>Reset your Password</mat-card-title>
    </div>
    <div class="text-center">
      <mat-card-content>
        <p>This feature is an upcoming feature</p>
      </mat-card-content>
    </div>

    <mat-card-actions class="space-between text-center">
      <button mat-raised-button color="accent" (click)="okClicked()" class="profile-edit-button">Ok</button>
    </mat-card-actions>
  </mat-card>
</div>
