<div class="container pt-5">
  <div class="row  justify-content-sm-center pt-5">
    <div class="col-sm-6 shadow round pb-3 registrationForm">
      <h1 class="text-center pt-3">Sign Up</h1>
      <form #f='ngForm' (ngSubmit)='onSubmit(f)'>
        <div class="form-group">
          <label for="registerFirstName" class="form-label">First Name</label>
          <input type="text" name="firstname" ngModel required pattern='^[a-zA-Z]+$' #firstname='ngModel' class="form-control" id="registerFirstName"
            placeholder="Enter First Name">
            <small *ngIf="firstname.invalid && firstname.touched" class="text-danger">First Name is Required</small>
        </div>
        <div class="form-group">
          <label for="registerLastName" class="form-label">Last Name</label>
          <input type="text" name="lastname" ngModel required pattern='^[a-zA-Z]+$' #lastname='ngModel' class="form-control" id="registerLastName"
            placeholder="Enter Last Name">
            <small *ngIf="lastname.invalid && lastname.touched" class="text-danger">Last Name is Required</small>
        </div>
        <div class="form-group">
          <label for="registerUserName" class="form-label">User Name</label>
          <input type="text" name="username" ngModel required pattern='^[a-zA-Z]+$' #username='ngModel' class="form-control" id="registerUserName"
            placeholder="Enter User Name">
          <small *ngIf="username.invalid && username.touched" class="text-danger">User Name is Required</small>
        </div>
        <div class="mb-3">
          <label for="registerEmailAddress" class="form-label">Email address</label>
          <input type="email" name='email' ngModel required email #email='ngModel' class="form-control" id="registerEmailAddress" aria-describedby="emailHelp" placeholder="Enter your email address">
          <small *ngIf="email.invalid && email.touched" class="text-danger">Email is Required</small>
        </div>
        <div class="form-group">
          <label for="registerPassword" class="form-label">Password</label>
          <input type="password" name="passWord" ngModel required #passWord='ngModel' class="form-control"
            id="registerPassword" placeholder="Enter password">
            <small *ngIf="passWord.invalid && passWord.touched" class="text-danger">Password is Required</small>
        </div>
        <div class="from-group">
          <label for="userType" class="form-label">Register As: </label>
          <select  type="userType" name="usertype" ngModel required #userType='ngModel' class="form-control"
          id="userType">
            <option value="" disabled>I am a:</option>
            <option *ngFor="let userType of UserTypes" [ngValue]="userType">{{userType}}</option>
            <small *ngIf="userType.invalid" class="text-danger">User Type is Required</small>
         </select>
        </div>

        <div class="form-group form-check">
          <a [routerLink]="['/login']" >Already have an Account! Login</a>
          |
          <a [routerLink]="['/reset-password']" >Forgot Password</a>
      </div>
        <button type="submit"  [disabled]="f.invalid" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
