.add-property-button {
  background-color: #483d8b;
  border: 0cm;
  color: azure;
}

.modal-header {
  background-color: darkslateblue;
  color: azure;
}

.close {
  color: azure;
}

.modal-footer{
  background-color: darkslateblue;
  color: azure;
}

.add-button {
  background-color: darkslateblue;
  border: 0cm;
  color: azure;
  flex-wrap: wrap;
}

.property-card {
  margin-bottom: 10px;
  background-color: darkslateblue;
  color:azure;
}

.remove-property-button {
  background-color: azure;
  border: 0cm;
  color: red;
}

.modal-body {
  max-height: calc(100vh - 200px);
  overflow: auto;
}
