<div class="container" *ngIf='!service.loggedIn();'>
  <div class="row home-main-row">
    <div class="col-md-6 mt-4 pt-5 pl-5">
        <h2>Welcome to Rental Hub</h2>
        <p>This hub will help renter and rentee to find the appropriate services</p>
        <a [routerLink]="['register']"
           routerLinkActive="router-link-active"
           class="btn btn-info">Create An Account <i class="fa fa-user-plus"></i></a>
        <a [routerLink]="['login']"
           routerLinkActive="router-link-active"
           class="btn btn-info">Already A Memeber, Login <i class="fa fa-sign-in"></i></a>
    </div>
    <div class="col-md-6 mt-4 home-image-wrapper">
        <img src="assets/img/rental-property.jpg"
             alt="">
    </div>
  </div>
</div>

<div *ngIf='service.loggedIn() && service.isRenter();' >
  <div class="parent" layout="column" *ngFor="let property of properties" flex>
    <mat-card class="md-padding property-card" layout="row" flex>
        <mat-card-title>
            {{property.title}}
        </mat-card-title>
        <mat-card-content>
            This property has {{property.bedRooms}} bedrooms and {{property.baths}} bathrooms.
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-fab color="warn" class="remove-property-button" (click) = 'removeProperty(property.id)'><mat-icon>delete</mat-icon></button>
      </mat-card-actions>
    </mat-card>
  </div>
  <button  mat-flat-button class="add-property-button" (click)="openModal(content)">Add Property</button>
</div>


<ng-template #content let-modal class="add-property-modal mt-5">
  <div class="modal-header text-center pt-3">
    <h1 class="text-center modal-title" id="modal-basic-title">Add a new property</h1>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
    <div >
      <div class="shadow round p-3 registrationForm modal-body">
        <form #f='ngForm' (ngSubmit)='onSubmit(f)'>
          <div>
            <h2>Info</h2>
          </div>
          <div class="form-group">
            <label for="registerTitle" class="form-label">Title<span style="color: red;" *ngIf = "title.invalid">*</span></label>
            <input type="text" name="title" ngModel required pattern='^[A-Za-z0-9 _]+$' #title='ngModel' class="form-control" id="registerTitle"
              placeholder="Enter Last Name">
              <small *ngIf="title.invalid && title.touched" class="text-danger">Title is Required</small>
          </div>
          <div class="from-group pb-3">
            <label for="type" class="form-label">Property Type<span style="color: red;" *ngIf = "type.invalid">*</span></label>
            <select  type="type" name="type" ngModel required #type='ngModel' class="form-control"
            id="type">
              <option value="" disabled>Select Property Type:</option>
              <option *ngFor="let type of types" [ngValue]="type">{{type}}</option>
              <small *ngIf="type.invalid" class="text-danger">User Type is Required</small>
           </select>
          </div>
          <div class="form-group">
            <label for="bedRooms" class="form-label">How many Bedrooms?<span style="color: red;" *ngIf = "bedRooms.invalid">*</span></label>
            <input type="number" min="1" max="5" name="bedRooms" ngModel required pattern='^[0-9]+$' #bedRooms='ngModel' class="form-control" id="registerBedRooms"
              placeholder="Enter bedroom numbers">
              <small *ngIf="bedRooms.invalid && bedRooms.touched" class="text-danger">Number of bedrooms is Required</small>
          </div>

          <div class="form-group">
            <label for="baths" class="form-label">How many Baths?<span style="color: red;" *ngIf = "baths.invalid">*</span></label>
            <input type="number" min="1" max="5" name="baths" ngModel required pattern='^[0-9]+$' #baths='ngModel' class="form-control" id="registerbaths"
              placeholder="Enter baths numbers">
              <small *ngIf="baths.invalid && baths.touched" class="text-danger">Number of baths is Required</small>
          </div>
          <div class="from-group pb-3">
            <label for="available" class="form-label">Is it Available?<span style="color: red;" *ngIf = "available.invalid">*</span></label>
            <select  type="boolen" name="available" ngModel required #available='ngModel' class="form-control"
            id="available">
              <option value="" disabled>Availability</option>
              <option value="true">True</option>
              <option value="false">False</option>
              <small *ngIf="available.invalid" class="text-danger">Availability is Required</small>
           </select>
          </div>

          <div>
            <h2>Address</h2>
          </div>

          <div class="form-group">
            <label for="addressLine1" class="form-label">Road Address<span style="color: red;" *ngIf = "addressLine1.invalid">*</span></label>
            <input type="text" name="addressLine1" ngModel required pattern='^[a-zA-Z0-9 _-]+$' #addressLine1='ngModel' class="form-control" id="registeraddressLine1"
              placeholder="Enter Road Address">
              <small *ngIf="addressLine1.invalid && addressLine1.touched" class="text-danger">Road Address is Required</small>
          </div>
          <div class="form-group">
            <label for="addressLine2" class="form-label">Apt/Suit</label>
            <input type="text" name="addressLine2" ngModel pattern='^[a-zA-Z0-9 _-]+$' #addressLine2='ngModel' class="form-control" id="registeraddressLine2"
              placeholder="Enter Apt/Suit Number">
          </div>

          <div class="form-group">
            <label for="city" class="form-label">City<span style="color: red;" *ngIf = "city.invalid">*</span></label>
            <input type="text" name="city" ngModel required pattern='^[a-zA-Z]+$' #city='ngModel' class="form-control" id="registercity"
              placeholder="Enter Your City">
              <small *ngIf="city.invalid && city.touched" class="text-danger">City is Required</small>
          </div>
          <div class="form-group">
            <label for="province" class="form-label">Province<span style="color: red;" *ngIf = "province.invalid">*</span></label>
            <input type="text" name="province" ngModel required pattern='^[a-zA-Z]+$' #province='ngModel' class="form-control" id="registerprovince"
              placeholder="Enter Your Province">
              <small *ngIf="province.invalid && province.touched" class="text-danger">Province is Required</small>
          </div>


          <div class="form-group">
            <label for="country" class="form-label">Country<span style="color: red;" *ngIf = "country.invalid">*</span></label>
            <input type="text" name="country" ngModel required pattern='^[a-zA-Z]+$' #country='ngModel' class="form-control" id="registercountry"
              placeholder="Enter Your Country">
              <small *ngIf="country.invalid && country.touched" class="text-danger">Country is Required</small>
          </div>
          <div class="form-group">
            <label for="postalCode" class="form-label">Postal Code<span style="color: red;" *ngIf = "postalCode.invalid">*</span></label>
            <input type="text" name="postalCode" ngModel required pattern='^[a-zA-Z0-9 ]+$' #postalCode='ngModel' class="form-control" id="registerpostalCode"
              placeholder="Enter postalCode">
              <small *ngIf="postalCode.invalid && postalCode.touched" class="text-danger">Postal Code is Required</small>
          </div>
          <button type="submit" mat-flat-button [disabled]="f.invalid" (click)="modal.close('Save click')" class="add-button">Add Property</button>
        </form>
      </div>
    </div>

</ng-template>
