.add-property-button {
  background-color: #483d8b;
  border: 0cm;
  color: azure;
}

.modal-header {
  background-color: darkslateblue;
  color: azure;
}

.close {
  color: azure;
}

.modal-footer{
  background-color: darkslateblue;
  color: azure;
}

.add-button {
  background-color: darkslateblue;
  border: 0cm;
  color: azure;
  flex-wrap: wrap;
}

.property-card {
  margin-bottom: 10px;
  background-color: darkslateblue;
  color:azure;
}

/*.remove-property-button {
  background-color: azure;
  border: 0cm;
  color: red;
}*/

.property-list-title {
  background-color: darkslateblue;
  color:azure;
}
.modal-body {
  max-height: calc(100vh - 200px);
  overflow: auto;
}

.mat-expansion-panel-header,
.mat-expansion-panel-header :hover,
.mat-expansion-panel .mat-expanded,
.mat-expansion-panel :hover {
  background: darkslateblue;
}

// .mat-expansion-panel-header .mat-expanded {
//   background: darkslateblue;
// }
// .mat-expansion-panel,
// .mat-expansion-panel .mat-expanded {
//   background: darkslateblue;
// }

// .mat-expansion-panel :hover {
//   background: darkslateblue;
// }

// .mat-expansion-panel-header :hover {
//   background: darkslateblue;
// }
