<nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark indigo border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['']">Rental Hub</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow headerNav">
          <!--li class="nav-item active" *ngIf='service.loggedIn();'
              [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/user-profile']"><i class="fa fa-user"></i> Profile</a>
          </li-->
          <li class="nav-item active dropdown" *ngIf='service.loggedIn();' dropdown>
            <a class="nav-link" dropdownToggle>Welcome {{service.userName}} <i class="fa fa-caret-down"></i></a>
            <div class="dropdown-menu dropdown-menu-right"
                     *dropdownMenu>
                    <a class="dropdown-item"
                       [routerLink]="['reset-password']" ><i class="fa fa-key"></i> Reset Password</a>
                    <a class="dropdown-item"
                       [routerLink]="['user-profile']" ><i class="fa fa-user"></i> Profile</a>
                    <a class="dropdown-item"
                       (click)="logout();"><i class="fa fa-sign-out"></i> Logout</a>
                </div>
          </li>
          <li class="nav-item active" *ngIf='!service.loggedIn();'
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link" [routerLink]="['/login']">Login <i class="fa fa-sign-in"></i></a>
          </li>
          <li class="nav-item active" *ngIf='!service.loggedIn();'
              [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/register']">Register <i class="fa fa-user-plus"></i></a>

          </li>
        </ul>
      </div>
    </div>
  </nav>
