.property-card {
    margin-bottom: 10px;
    background-color: darkslateblue;
    color:azure;
}

a+a {
  margin-left: 10px;
}


.home-image-wrapper{
  overflow: hidden;
}
.home-image-wrapper img{
  display: block;
  margin: auto;
  width:150%;
}

.btn-info {
  background-color: darkslateblue;
  border: 0cm;
  color: azure;
}
